---
import Layout from '../layouts/Layout.astro';
---
<model-viewer class="model-viewer"src="/models/can_ribbon.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1"> 
</model-viewer>
<model-viewer class="model-viewer" src="/models/can_ribbon.glb" />
<Layout title="Viewer">
	<h1><span class="text-gradient">Joya: </span>AiR</h1>
</Layout>
<!-- <script is:inline src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>-->
<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 160ch;
		height: 100vh;
		/*display: grid;
		/*	grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 0.5em;
		grid-row-gap: 0.5em;
		*/
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	model-viewer {
		display:block;
		width: 100%;
		height: 100%;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
